body {
  margin: 0;
  font-family: 'Quicksand', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 4px rgba(172, 172, 172, 0.3);
}

::-webkit-scrollbar-thumb {
  background: rgba(172, 172, 172, 0.8);
  -webkit-box-shadow: inset 0 0 4px rgba(172, 172, 172, 0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(172, 172, 172, 0.8);
}

.modal-header button {
  background-color: transparent;
  border: none;
  font-size: 30px;
  color: #545454;
}

.form-group {
  margin-bottom: 15px;
}
